*.DS_Store
*.a
*.asy
*.bat
*.bgn
*.bin
*.bit
*.bld
*.c
*.cgc
*.cgp
*.cmd
*.cmd_log
*.cpj
*.csv
*.dat
*.dbg
*.didat
*.dll
*.do
*.drc
*.exe
*.fdo
*.gise
*.gitignore
*.gtkw
*.html
*.in
*.ini
*.jou
*.key
*.log
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.nlf
*.o
*.obj
*.out
*.pad
*.par
*.pcf
*.pdf
*.pkl
*.ppr
*.pptx
*.prj
*.projectmgr
*.psg
*.ptwx
*.qdb
*.qpg
*.qtl
*.scr
*.sdb
*.sdbl
*.sdbx
*.sdc
*.sdf
*.sh
*.stx
*.sublime-project
*.sublime-workspace
*.sv
*.sym
*.syr
*.tcl
*.twr
*.twx
*.txt
*.udo
*.unroutes
*.ut
*.vcd
*.veo
*.vh
*.vvp
*.wcfg
*.wdb
*.xbcd
*.xco
*.xise
*.xml
*.xmsgs
*.xpi
*.xreport
*.xrpt
*.xst
*.xwbt
*.zip
